<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd ">

    <!-- 开启注解扫描 -->
    <context:component-scan base-package="com.diyiliu.*"/>
    <context:property-placeholder location="classpath:config.properties"/>

    <!-- telnet 工具 -->
    <bean id="telnetUtil" class="com.diyiliu.support.util.TelnetUtil">
        <constructor-arg name="host" value="${host}"/>
        <constructor-arg name="port" value="${port}"/>
        <constructor-arg name="password" value="${pw}"/>
        <constructor-arg name="enPassword" value="${pw.en}"/>
    </bean>
</beans>